#right #API {
    display: flex;
    height: 100%;
}
#right #API .tree {
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: auto;
}
#right #API .tree::-webkit-scrollbar-thumb {
    background-color: red;
}
#right #API .tree::-webkit-scrollbar-thumb, #right #API .tree::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 100px;
}
#right #API .tree .title {
    display: flex;
    padding-right: 20px;
    align-items: center;
    cursor: pointer;
}
#right #API .tree .title p {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}
#right #API .content {
    flex: 1;
    background: #353535;
}
#right #API .tree .content {
    display: flex;
    flex-direction: column;
    flex: 0 auto;
    height: 0;
}
#right #API .tree .method {
    cursor: pointer;
}
#right #API .tree .method td {
    font-size: 13px;
    font-family: monospace;
}
#right #API .tree .method td:first-child {
    text-align: right;
    padding: 0px 15px;
}
#right #API .tree .method tr {
    padding-bottom: 5px;
}
#right #API .tree .method td:last-child {
    padding: 0px;
    padding-right: 15px;
}
#right #API .tree table {
    border-collapse: collapse;
}
#right #API .tree .title:hover, #right #API .tree tr:hover {
    background: var(--background-hover);
}