.GET {
    --color-http: #3caab5;
}
.POST {
    --color-http: #78bc61;
}
.DELETE {
    --color-http: #ed6a5a;
}
.PUT {
    --color-http: #e6c229;
}
.PATCH {
    --color-http: #645dad;
}
.TRACE {
    --color-http: #666444;
}
.HEAD {
    --color-http: #798eb3;
}
.OPTIONS {
    --color-http: #ff8a2c;
}