#right #API {
    display: flex;
    height: 100%;
}
#right #API .tree {
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: auto;
}
#right #API .tree::-webkit-scrollbar {
    width: 12px;
}
#right #API .tree::-webkit-scrollbar-track{
    background: var(--background-normal);
}
#right #API .tree::-webkit-scrollbar-thumb {
  background-color: var(--background-active);
  border-radius: 20px;
  border: 3px solid var(--background-normal);
}
#right #API .tree .title {
    display: flex;
    padding-right: 20px;
    align-items: center;
    cursor: pointer;
}
#right #API .tree .title p {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}
#right #API .content {
    flex: 1;
    background: var(--background-content-controllers);
}
#right #API .tree .content {
    display: flex;
    flex-direction: column;
    flex: 0 auto;
    height: 0;
}
#right #API .tree .method {
    cursor: pointer;
    padding: 0;
    padding-left: 30px;
    font-size: 13px;
    font-family: monospace;
}
#right #API .tree .method:hover, #right #API .tree .title:hover {
    background: var(--background-hover);
}
#right #API .content .top {
    display: flex;
    margin: 25px 25px 0px 25px;
}
#right #API .content .top .blank {
}
#right #API .content .top .button {
    padding: 5px 25px;
    background: var(--background-active);
    border: 2px solid var(--color-http);
}
#right #API .content .top select {
    margin-right: 10px;
    text-align: center;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    border: 2px solid var(--color-http);
    color: var(--color);
    min-width: 100px;
    background: var(--background-active);
}
#right #API .content .top option {
    color: var(--color-http);
}
#right #API .content .top .paths {
    flex: 1;
}