#right #LOGIN {
    display: flex;
    width: 100%;
    height: 100%;
}
#right #LOGIN > div {
    width: 100%;
    height: 100%;
    position: absolute;
}
#right #LOGIN > div .content {
    width: fit-content;
    padding: 25px;
    background: red;
    transform: translate(-50%,-50%);
    top: 50%;
    position: absolute;
    left: 50%;
}
#right #LOGIN > div .content .button {
    cursor: pointer;
    text-align: center;
    margin-top:20px;
    padding: 5px 0px;
    background: var(--background-normal);
}