#right #LOGIN > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}
#right #LOGIN > div .content {
    width: fit-content;
    padding: 25px;
    background: var(--background-active);
    transform: translate(-50%,-50%);
    top: 50%;
    position: absolute;
    left: 50%;
}
#right #LOGIN #disconnected .alert {
  animation: shake 0.5s linear 1;
  transform: translate3d(-50%,-50%, 0);
  backface-visibility: hidden;
}
#right #LOGIN > div .alert .button {
    background: var(--border-active) !important;
    color: var(--background-normal) !important;
}
#right #LOGIN > div .content .button {
    cursor: pointer;
    text-align: center;
    margin-top:20px;
    padding: 5px 15px;
    background: var(--background-normal);
}
#right #LOGIN > div .content .input {
    display: flex;
    align-items: flex-end;
}
#right #LOGIN #username {
    padding-left: 5px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-51%, -50%, 0);
    }

    20%, 80% {
        transform: translate3d(-49%, -50%, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-51%, -50% 0);
    }

    40%, 60% {
        transform: translate3d(-49%, -50%, 0);
    }
}