<div class="tree">
    <div th:each="controller, controllerState: ${controllers}" class="controller">
        <div class="title">
            <svg fill="var(--color)">
                <use href="/fast-spirit/svg/chevron-down.svg#svg"></use>
            </svg>
            <p th:text="${controller.title}"/>
        </div>
        <div class="content">
            <div th:each="mapping, mappingState: ${controller.mappings}" class="method" th:x="${controllerState.index}" th:y="${mappingState.index}">
                <td th:text="${mapping.title}"/>
            </div>
        </div>
    </div>
</div>
<div class="doc">
    <div class="top">
        <select class="httpMethods"></select>
        <select class="paths"></select>
        <div class="button">TRY IT</div>
    </div>
    <div class="menus">
        <div class="empty"></div>
        <div id="Description">Description</div>
        <div id="Params">Params & Variables</div>
        <div id="Headers">Headers</div>
        <div id="Body">Body</div>
        <div class="empty"></div>
    </div>
    <div class="center">
        <div id="controllersDescription" link="Description">
            <div class="description">
                <h3>Description</h3>
            </div>
            <div class="access">
                <h3>Access</h3>
            </div>
        </div>
        <div id="controllersParams" link="Params"></div>
        <div id="controllersHeaders" link="Headers"></div>
        <div id="controllersBody" link="Body"></div>
        <div id="bottom" class="exception">
            <h3>Response</h3>
        </div>
    </div>
</div>
