<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${config.api.title}"></title>
        <link rel="icon" type="image/png" th:href="${config.api.logoUrl}">
        <link rel="stylesheet" type="text/css" th:href="@{/fast-spirit/style/style.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/fast-spirit/style/color.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/fast-spirit/style/controllers-http.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/fast-spirit/style/controllers.css}"/>

        <th:block th:insert="~{fast-spirit/login :: head}"/>
        <th:block th:insert="~{fast-spirit/header :: head}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="http://localhost:35729/livereload.js"></script>
        <script th:src="@{/fast-spirit/script/script.js}"></script>

    </head>
    <body>
        <div th:insert="~{fast-spirit/header  :: body}"/>
        <div id="center">
            <div id="left">
                <div th:with="menus = ${ {'API', 'LOGIN'} }">
                    <div th:each="menu, iter: ${menus}"
                         th:class="${iter.index} == 0 ? 'content active' : 'content'" th:id="${menu}">
                        <svg fill="var(--color)">
                            <use th:with="link='/fast-spirit/svg/' + ${menu} + '.svg#svg'" th:href="${link}"></use>
                        </svg>
                        <p th:text="${menu}"/>
                    </div>
                </div>
            </div>
            <div id="right">
                <div id="API" class="active"></div>
                <div th:replace="~{fast-spirit/login :: body}"/>
            </div>
        </div>
        <script th:inline="javascript">
            FastSpirit.init = {
                CONTROLLER_AUTHORITY: [[${controller_authority}]],
                CONTROLLER_EMPTY: [[${controller_empty}]]
            }
        </script>
    </body>
</html>